.site-header{
    background-color: #6ad6ff;
    color:#2f373b;
    height: 100vh;
    font-family: monospace;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.site-header-content{
    margin: 10px;
} 

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #0f0f0f 2px 5px 5px;
}

.course-link{
    color: #2f373b;
}

body{
    margin: 0;
}